doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap-assets/css/bootstrap.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")  
    script(type="text/javascript").
     $(function() {     
      var ajax = function(type, url, data, callback){
        $.ajax({
          type: type,
          url: url,
          data: data
        }).done(function( data ) {
           callback(data);
        });

      } 

      $("#calendario").on('click', '.dias a', function(e){

        e.preventDefault();

        var data  = $(this).attr('title'),
            ciclo = $('.ciclo-menstrual:checked').val();

        if(data){

          ajax("GET", "/period/calendar-content", { 'ciclo-menstrual': ciclo, data: data }, function(output){

            $('#calendario').html(output); 

          });
        }

      });

      $('.seta-esquerda').on('click', function(e){
        
        e.preventDefault();
        
        var currentMonth = $('.hidden-month:eq(0)').attr('title').split("/"),
            month        = parseInt(currentMonth[0]),
            year         = parseInt(currentMonth[1]),
            data,
            ciclo        = $('.ciclo-menstrual:checked').val(); 

            if(month === 1){
              month = 13;
              year  = year-1;
            }

        data = "00/" + (parseInt(month)-1) + "/" + year;     

        ajax("GET", "/period/calendar-content", { 'ciclo-menstrual': ciclo, data: data }, function(output){

          $('#calendario').html(output); 

        });
      
      });

      $('.seta-direita').on('click', function(e){
        
        e.preventDefault();
        
        var currentMonth = $('.hidden-month:eq(0)').attr('title').split("/"),
            month        = parseInt(currentMonth[0]),
            year         = parseInt(currentMonth[1]),
            data,
            ciclo        = $('.ciclo-menstrual:checked').val(); 

            if(month === 12){
              month = 0;
              year  = year+1;
            }

            data = "00/" + (parseInt(month)+1) + "/" + year;

        ajax("GET", "/period/calendar-content", { 'ciclo-menstrual': ciclo, data: data }, function(output){

          console.log(output); 
          $('#calendario').html(output); 

        });
      
      });

     });


  body
    div(class="site")
      div(id="full-header")
        div(class="container")
          header
            div(class="row")
              div(class="col-md-3")
                h1(class="logo")
                  Mulher Fértil
              div(class="col-md-9")
                nav
                  ul(class="menu row list-unstyled")
                    li(class="col-md-4 link-process")
                      a(href="#process") Processo de Ovulação
                    li(class="col-md-4 link-period")
                      a(href="#period") Período Fértil
                    li(class="col-md-4 link-tips")
                      a(href="#tips") Dicas e cuidados
        block content