doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap-assets/css/bootstrap.css')
    script(src="/components/jquery/jquery.min.js")  
    script(src="/javascripts/period.js")      

  body
    div(class="site")
      div(id="full-header")
        div(class="container")
          header
            div(class="row")
              div(class="col-md-3")
                h1(class="logo")
                  Mulher Fértil
              div(class="col-md-9")
                nav
                  ul(class="menu row list-unstyled")
                    //
                      li(class="col-md-4 link-process")
                        a(href="#process") Processo de Ovulação
                    li(class="col-md-4 col-md-offset-4 link-period")
                      a(href="#period") Período Fértil
                    li(class="col-md-4 link-tips")
                      a(href="#tips") Dicas e cuidados
        block content
      footer
        div(class="footer")
          p
            img(src="images/logo-mulher-fertil-menor.jpg", alt="Mulher Fértil") 
            <b>2014 Copyright - Mulher Fértil - Todos os direitos reservados.</b>