/* VARIABLES */
@font: "Lucida Grande", Helvetica, Arial, sans-serif; 

@defaultColor: #777777;
@defaultFontSize: 16px;

@linkColor: #ec1e79;

@process: #faaf3a;
@period: #d9df20;
@tips: #e66658;

body {
  font: 14px @font;
}

p{
	color: @defaultColor;
	font-size: @defaultFontSize;
}

a {
  color: @linkColor;
}

.site{
	h1, h2, h3{
		color:#ffffff;
	}

}

#full-header{
	border-top: 5px solid #ec1e79;
	h1{
		text-indent: -9999px;
		width:197px; 
		height:104px; 
		background: url('../images/logo-mulher-fertil.jpg');
	}
}

.menu{
	padding-top: 50px;
	li{
		text-align: center;
		padding-bottom: 5px;
		border-bottom: 5px solid #fff;
		a{
			font-size: 18px;
			color: @linkColor;
			&:hover{
				transition: all 200ms ease-in;
				color:darken(@linkColor, 20%);
				text-decoration: none;
			}
		}
	}
	.link-process{
		border-bottom-color: @process;
	}
	.link-period{		
		border-bottom-color: @period;
	}
	.link-tips{		
		border-bottom-color: @tips;
	}
}

section{
	h2{
		margin-bottom: 20px;
	}
}

#banner{
	width:100%;
	height: 400px;
	overflow: hidden;
	text-align: center;
	position: relative;
	li{
		position: absolute;
	}
	img{
		width: 100%;
	}
}
#process{
	background: @process;
	padding: 20px 0;
}
#period{
	background: #ffffff;
	padding: 20px 0 50px 0;
	h2{
		color:@period;
	}
	h3{
		color:#616161;
		padding-top: 30px;
	}
	p{
		margin-bottom: 20px;
	}
}
#tips{
	background: @tips;
	padding: 20px 0;
	h2{
		margin-bottom: 30px;
	}
	h3{
		margin-top:0;
	}
	p{
		color:#fff;
	}
	.row{
		margin-bottom: 40px;
		div{
			min-height: 105px;
		}
	}
	.col-md-2{
		text-align: center;
	}

	.alert-warning {
		p{
			color: #8a6d3b;
		}
		background-color: #fcf8e3;
		border-color: #faebcc;
	}
}

#box-calendario{
	.seta{
		a{
			background: url('../images/arrows.png') no-repeat transparent;
			display:block;
			width:22px;
			height: 30px;
			margin-top: 200px;
		}
	}
	.seta-esquerda{
		a{
			background-position: bottom left;
		}
	}
	.seta-direita{
		a{
			background-position: bottom right;
		}
	}
	> div{
		padding:0 20px;
	}
}

.mes{
	text-align: center;
	p{
		font-size: 16px;
		font-weight: bold;
		color:@process;
		margin-bottom: 5px!important;
	}
	> div{
		text-align: left;
		> div{
			width:13.78%;
			text-align: center;
			display: inline-block;
			padding:0;
			border:1px solid #ffffff;
			background: #d9df20;
			color: #ffffff;
			font-size: 16px;
			&:hover{
				background: darken(#d9df20, 10%);
			}
		} 
	} 
	.hidden-month{
		display:none;
	}
	.tit-dias{
		div{
			padding:2% 0;
			font-weight: bold;
			&:hover{
				background: #d9df20;
			}			
		}
	}
	.menstruationDay{
		background: #ec1e79;
		&:hover{
			background: #ec1e79;
		}
		a{
			color: #ffffff;
		}
	}
	.fertDay{
		background: darken(#faaf3a, 20%);
		&:hover{
			background: darken(#faaf3a, 20%);
		}
		a{
			color:#ffffff;
		}
	}
	.periodFertDay{
		background: #faaf3a;
		&:hover{
			background: #faaf3a;
		}
		a{
			color:#ffffff;			
		}
	}
	a{
		text-decoration: none!important;
		display: block;
		width: 100%;
		padding:35% 0;
		color: #ffffff;
		font-weight: bold;
		&:hover{
			color: #ffffff;
		}
	}
}

.footer{
	padding:30px 0;
	p{
		text-align: center;
		font-size: 12px;
		color:#ec1e79;
	}
	img{
		padding-right: 20px;
	}
}
