body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#box-calendario {
  display: table;
}
#box-calendario > div {
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
}
#calendario {
  width: 800px;
  margin: 0 auto;
}
.mes {
  width: 400px;
  float: left;
  text-align: center;
}
.mes > div {
  text-align: left;
}
.mes > div > div {
  width: 13.78%;
  text-align: center;
  display: inline-block;
  padding: 0;
  border: 1px solid #ccc;
}
.mes .hidden-month {
  display: none;
}
.mes .tit-dias div {
  padding: 2% 0;
}
.mes .menstruationDay {
  background: #F2DEDE;
}
.mes .menstruationDay a {
  color: #c15e5e;
}
.mes .fertDay {
  background: #add39c;
}
.mes .fertDay a {
  color: #6c915b;
}
.mes .periodFertDay {
  background: #DFF0D8;
}
.mes .periodFertDay a {
  color: #91af83;
}
.mes a {
  text-decoration: none!important;
  display: block;
  width: 100%;
  padding: 35% 0;
}
